{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    // [
    //   "@babel/plugin-transform-runtime",
    //   {
    //     "corejs": 3
    //   }
    // ],
    [
      "react-css-modules",
      {
        "autoResolveMultipleImports": true,
        "generateScopedName": "[local]__[hash:base64:5]",
        "filetypes": {
          ".less": {
            "syntax": "postcss-less"
          }
        }
      }
    ]
  ]
}
